<div local-class="item" class={{current}}>
  <div local-class="serial">
    <span>{{serial}}</span>
  </div>
  <div local-class="questions">
    {{ui-icon icon=icon}}
    <p>{{questions}}</p>
  </div>
</div>

{{yield}}