<div local-class="main">
  <div local-class="container">
    <h1>{{t "404.404"}}</h1>
    <h2 local-class="not-found">{{t "404.not-found"}}</h2>
    <p local-class="description">
      {{t "404.description1"}}<br>
      {{t "404.description2"}}<br>
      {{t "404.description3"}}
    </p>
    {{ui-button (t "404.go-to-homepage") color="border"}}
  </div>
</div>