{{#basic-dropdown as |dropdown|}}
  {{#dropdown.trigger local-class="sort-trigger"}}
    {{#ui-button (t "") expand=true}}
      <span>{{t "create-dropdown.sort"}}</span>
      <span>{{t "create-dropdown.featured"}}</span>
    {{/ui-button}}
  {{/dropdown.trigger}}
  {{#dropdown.content local-class="sort-content"}}
		<div class="option checkmark">
      <ul class="option-contents">
  			<li>
          <a>
            {{ui-icon icon="ui-check" style="checkmark"}}
            <span>{{t "create-dropdown.featured"}}</span>
          </a>
  			</li>
  			<li>
          <a>
            <span>{{t "create-dropdown.created-date"}}</span>
          </a>
  			</li>
  			<li>
          <a>
            <span>{{t "create-dropdown.popularity"}}</span>
          </a>
  			</li>
      </ul>
		</div>
  {{/dropdown.content}}
{{/basic-dropdown}}
