<div local-class="chart-settings-panel">
  {{ui-icon-button icon="arrows-small-triangle-down" local-class="collapse" tips=(t "reporting-tools.minimize")}}
  <p>Chart Settings:</p>
  <ul local-class="value-y">
    <span>Y</span>
    <li class="ellipsis">
      <span>Row Sample Value</span>
      {{ui-icon-button icon="ui-simple-remove"}}
    </li>
    <li class="ellipsis">
      <span>Row Sample Value Ellipsis Test</span>
      {{ui-icon-button icon="ui-simple-remove"}}
    </li>

    <li local-class="add-value">
      {{ui-icon icon="ui-simple-add"}}
    </li>
  </ul>
  <ul local-class="category-x">
    <span>X</span>
    <li class="ellipsis">
      <span>Cloumn Sample Value</span>
      {{ui-icon-button icon="ui-simple-remove"}}
    </li>
  </ul>
</div>