<div class="editor-container">
  <div class="editor-row" local-class="font">
    <p>{{t "chart-editor.chart-font"}}</p>
    <div local-class="style-font-dropdown">
      {{#basic-dropdown as |dropdown|}}
        {{#dropdown.trigger}}
          {{ui-button (t "category-labels-dropdown.auto-fit") color="border" expand=true}}
        {{/dropdown.trigger}}
        {{#dropdown.content}}
          <ul class="option checkmark">
            <ul class="option-contents">
              <li>
                <a>
                  {{ui-icon icon="ui-check" style="checkmark"}}
                  <span>{{t "category-labels-dropdown.none"}}</span>
                </a>
              </li>
              <li>
                <a>
                  <span>{{t "category-labels-dropdown.auto-fit"}}</span>
                </a>
              </li>
              <li>
                <a>
                  <span>{{t "category-labels-dropdown.show-all"}}</span>
                </a>
              </li>
            </ul>
          </ul>
        {{/dropdown.content}}
      {{/basic-dropdown}}
    </div>
    {{!--{{ui-input-number local-class="font-size" value="2" min="0" max="100" unit="px" label="" alert=""}}--}}
  </div>

  <div class="editor-row" local-class="fill">
    <p>{{t "chart-editor.fill"}}</p>
    {{#basic-dropdown as |dropdown|}}
      {{#dropdown.trigger}}
        {{ui-button (t "fill-dropdown.color-fill") color="border" expand=true}}
      {{/dropdown.trigger}}
      {{#dropdown.content}}
        <ul class="option checkmark">
          <ul class="option-contents">
            <li>
              <a>
                {{ui-icon icon="ui-check" style="checkmark"}}
                <span>{{t "fill-dropdown.no-fill"}}</span>
              </a>
            </li>
            <li>
              <a>
                <span>{{t "fill-dropdown.color-fill"}}</span>
              </a>
            </li>
            <li>
              <a>
                <span>{{t "fill-dropdown.gradient-fill"}}</span>
              </a>
            </li>
          </ul>
        </ul>
      {{/dropdown.content}}
    {{/basic-dropdown}}
  </div>

  <div class="editor-row" local-class="stroke">
    <p>{{t "chart-editor.stroke"}}</p>
    {{#basic-dropdown as |dropdown|}}
      {{#dropdown.trigger}}
        {{ui-button (t "fill-dropdown.color-fill") color="border" expand=true}}
      {{/dropdown.trigger}}
      {{#dropdown.content}}
        <ul class="option checkmark">
          <ul class="option-contents">
            <li>
              <a>
                {{ui-icon icon="ui-check" style="checkmark"}}
                <span>{{t "fill-dropdown.no-fill"}}</span>
              </a>
            </li>
            <li>
              <a>
                <span>{{t "fill-dropdown.color-fill"}}</span>
              </a>
            </li>
            <li>
              <a>
                <span>{{t "fill-dropdown.gradient-fill"}}</span>
              </a>
            </li>
          </ul>
        </ul>
      {{/dropdown.content}}
    {{/basic-dropdown}}
  </div>
</div>
