<div local-class="grid-item">
  <div local-class="form-item">
    <a local-class="open-design">
      {{#if isDeleteDisable}}
        <div class="status blue">
          {{ui-icon icon="rocket"}}
        </div>
      {{/if}}

      <div local-class="item-mask">
        <div local-class="main-link">
          {{#if isPreviewDisable}}
            {{#link-to 'form.collect' questionnaireID class="icon-button silver" tips=(t "form-item.publish")}}
              {{ui-icon icon="rocket"}}
            {{/link-to}}
            {{ui-icon-button tips=(t "form-item.preview") icon="eye" color="silver" local-class="preview" onClick=getQRCode}}
          {{/if}}

          {{#unless isDeleteDisable}}
            {{ui-icon-button tips=(t "form-item.delete") icon="trash" color="silver" local-class="trash" onClick=(action toggleModal "deleteQuestionnaire" questionnaireID form-name)}}
          {{/unless}}

          {{ui-icon-button tips=(t "form-item.duplicate") icon="files-duplicate-solid" color="silver" local-class="multiple-documents" onClick=onDuplicateClick}}

          {{#unless isFolderDisable}}
            {{ui-icon-button tips=(t "form-item.folder") icon="files-folder-solid" color="silver" local-class="folder" onClick=(action toggleModal "changeFolder" questionnaireID)}}
          {{/unless}}
        </div>
        <a href="https://editor.csvfx.com/?quesID={{questionnaireID}}" local-class="design-enter">
          {{t "form-item.open-in-editor"}}
        </a>
      </div>
      <div local-class="form-cover" style={{coverStyle}}></div>
    </a>
    <div local-class="results-container">
      <a href="" local-class="results" tips="{{t "form-item.analysis"}}">
        <div local-class="activity-figures ellipsis">
          {{ui-icon icon="activity"}}
          <span>{{t "form-item.statistics"}}</span>
          <span>{{statistics-number}}</span>
          <div local-class="progress-bar" style={{progressStyle}}></div>
        </div>
      </a>
      {{#link-to 'form.collect' questionnaireID class="icon-button" local-class="settings" tips=(t "form-item.settings")}}
        {{ui-icon icon="ui-settings-gear"}}
      {{/link-to}}
    </div>
  </div>
  <div local-class="form-footer">
    <!--<i class="ic-profile"></i>-->
    <div local-class="footer-wrapper">
      <span class="ellipsis">{{form-name}}</span>
      <span>{{t "form-item.creation-date"}}
        {{moment-format (formatFormTime form-time)}}
      </span>
    </div>
  </div>
</div>
