<ul class="w-container">
	<li>
		<a href="">{{t "footer-nav.help-support"}}</a>
	</li>
  <li>
		<a href="">{{t "footer-nav.tutorials"}}</a>
  </li>
  <li>
		<a href="">{{t "footer-nav.blog"}}</a>
  </li>
  <li>
		<a href="">{{t "footer-nav.privacy-policy"}}</a>
  </li>
  <li>
		<a href="">{{t "footer-nav.terms-service"}}</a>
  </li>
	<li>
		<p>{{t "footer-nav.year"}}{{ui-logo "index"}}{{t "footer-nav.copyright"}}</p>
	</li>
</ul>